@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


a{
    color: inherit;
    text-decoration: none;
}

/*Site Wide Elements*/
/*top bar*/
.title{
    font-family: 'Poppins', sans-serif;
    size: 2in;
}
.titlebar{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.hrseperator{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: -10px;
    width: 50%;
}


.bigTextContainer{
    place-items: center;
}
.bigText{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: medium;
}
.bigTitle{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 30px;
}

/*Landing Page*/

.linkbox{
    display: flex;
    height: 75px;
    width: auto;
    
    flex-flow: row;
    justify-content: space-evenly;

    
}
.link{

    margin-top: 20px;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: auto;
    text-align: center;
    align-items: center;
    
}
.linktitle{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    justify-self: center;

}
.linkimage{
    height: 100%;
    width: auto;
}

/*Work Experience Page*/
.jobBox{
    margin: auto;
    width: 50%;
    height: auto;
}
.jobTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 5px auto 5px auto
}
.jobCompany{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 5px auto 5px auto
}

.jobAccomplisments{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: grey;
}

/*Project Styling*/

.projectseperator{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: -10px;
    width: 75%;
}

.projectBox{
    display: flex;
    flex-flow: row;
    margin: auto;
    height: 200px;
    width: 75%;
}

.projectImg{
    height: 200px;
    width:200px;
    object-fit: cover;
}

.projectText{
    display: flex;
    flex-flow: column;
    align-content: flex-start;
}
.projectTitle{
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
}
.projectDescription{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}


