@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


a{
    color: inherit;
    text-decoration: none;
}

/*Site Wide Elements*/
/*top bar*/
.title{
    font-family: 'Poppins', sans-serif;
    size: 2in;
}
.titlebar{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: auto;
    margin: auto;
}

.hrseperator{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: -10px;
    width: 50%;
}


.bigTextContainer{
    place-items: center;
}
.bigText{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: medium;
}
.bigTitle{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 30px;
}

/*Landing Page*/

.linkbox{
    display: flex;
    height: 75px;
    width: auto;
    
    flex-flow: row;
    justify-content: space-evenly;

    margin-bottom: 100px;

    
}
.link{

    margin-top: 20px;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: auto;
    text-align: center;
    align-items: center;
    
}
.linktitle{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    justify-self: center;

}
.linkimage{
    height: 100%;
    width: auto;
    transition: 0.25s ease;
}
.linkimage:hover{
    transform:translateY(-10px);
}


/*Work Experience Page*/
.jobBox{
    margin: auto;
    width: 50%;
    height: auto;
}
.jobTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 5px auto 5px auto
}
.jobCompany{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 5px auto 5px auto
}

.jobAccomplisments{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: grey;
}

/*Project Styling*/

.projectseperator{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: -10px;
    width: 75%;
}

.projectBox{
    display: flex;
    align-items: center;
    flex-flow: row;
    margin: auto;
    overflow: auto;
    width: 75%;
}

.projectImg{
    height: 200px;
    width:200px;
    object-fit: cover;
}

.projectText{
    display: flex;
    flex-flow: column;
    align-content: flex-start;
}
.projectTitle{
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
}
.projectDescription{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}

.projectAccomplishment{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    color: grey;
}

#modal{
    z-index: 1;
    background: white;
    position: fixed;
    height: 600px;
    width: 700px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -350px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: black;

}
#modal-header{
    background-color: white;
    flex-direction: column;
    height: auto;
    width: auto;
    display: flex;
    grid-column: 1/4;
    grid-row: 1;
    justify-content: left;
}
#modal-button{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    grid-column: 4;
    grid-row: 1;
    background-color: white;
    border: none;
}
#modal-header-text{
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
    margin: 5px 0px 5px 0px;

}
#modal-header-subtext{
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
    
}
#modal-skill-container{
    grid-row: 2;
    grid-column: 3/5;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}
#modal-skill-header{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.modal-skill-text
{
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: larger;
}



#modal-text{
    padding: 10px 10px 0px 0px;
    font-family: 'Poppins', sans-serif;
    display: block;
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
    grid-column: 1/3;
    grid-row:2;
    background-color: white;
    overflow: hidden;
}

.modal-hidden-text{
    display:none
}
.modal-hidden-skill{
    display:none;
}
.modal-hidden-image{
    display:none

}
.modal-expand-button-img{
    height: 50px;
    width: 50px;
}
.modal-expand-button{
    height: auto;
    width: auto;
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
}
